body {
	
padding-top:100px;
	background-image: url(http://www.cravehealthnow.com/wp-content/uploads/2014/01/1360103186_abstract-green-nature-web-background.jpg);
	background-size:cover;
}


#create-jumbo{
background-color: #fff;
padding-top: 10px;
padding-bottom: 10px;
}
#heading{
  color: #558C89;
  margin-bottom: 0px;
  font-size: 40px;
}

#listing{
  width: 75%;
}

/* drop zone */
.upload-drop-zone {
  height: 200px;
  border-width: 2px;
  margin-bottom: 20px;
  color: #ccc;  /* color of text inside drop box*/
  border-style: dashed;
  border-color: #ccc;
  line-height: 200px; /* position of text inside drop box*/
  text-align: center;   
}

#deletepic,#js-upload-submit, #swapnowbtn{
	  color: #fff; /* color of text inside button */
    background-color: #337ab7;
     padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
}
 
p.tandc-info{
	font-size:12px;
}

/*text area for description*/
#ad-desc{

    width: 60%;
    min-height: 300px;
    padding: 10px;
    border-style: 2px solid black
}

input[type="text"], input[type="tel"], [type="county"], [type="section"]{
    width: 60%;
    min-height: 44px;
}
